/CSVs
/.idea/*
/.venv/*

/data/*
!data/.gitkeep

/models/hierarchy/*
!/models/hierarchy/reports/
!/models/hierarchy/roc
!/models/hierarchy/.gitkeep
/models/multiclass/*
!/models/multiclass/reports/
!/models/multiclass/roc
!/models/multiclass/smote/
/models/multiclass/smote/*
!models/multiclass/smote/.gitkeep