/CSVs
/.idea/*
/.venv/*

/data/*
!data/.gitkeep

/models/hierarchy/*
!/models/hierarchy/.gitkeep
/models/multiclass/*
!/models/multiclass/smote/
/models/multiclass/smote/*
!models/multiclass/smote/.gitkeep

/roc/hierarchy/*
!/roc/hierarchy/.gitkeep
/roc/multiclass/*
!/roc/multiclass/smote/
/roc/multiclass/smote/*
!/roc/multiclass/smote/.gitkeep